*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1350px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  font-family: Futura;
  font-weight: 300;
  height: 100%;
  z-index: 0; }
  @media only screen and (max-width: 1200px) {
    body {
      width: 100vw; } }

.btn {
  border: none;
  box-shadow: none;
  border-radius: 50rem;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.hacker-news {
  position: relative;
  margin: 0rem 4rem; }
  @media only screen and (max-width: 1200px) {
    .hacker-news {
      margin: 0rem; } }
  .hacker-news .heading {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem 30rem;
    z-index: 1; }
    @media only screen and (max-width: 700px) {
      .hacker-news .heading {
        padding: 2rem 6rem; } }
    .hacker-news .heading__logo {
      display: none;
      height: 6rem;
      width: 6rem; }
      @media only screen and (max-width: 700px) {
        .hacker-news .heading__logo {
          display: block; } }
    .hacker-news .heading__menu {
      display: none;
      height: 6rem;
      width: 6rem;
      border-radius: 50px;
      background-color: #ffb21a;
      position: relative;
      cursor: pointer; }
      @media only screen and (max-width: 700px) {
        .hacker-news .heading__menu {
          display: block; } }
    .hacker-news .heading__menu-bars {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 2.8rem;
      background-color: #fff; }
      .hacker-news .heading__menu-bars::before {
        content: '';
        position: absolute;
        top: .8rem;
        left: 0;
        height: 3px;
        width: 2.8rem;
        background-color: #fff; }
      .hacker-news .heading__menu-bars::after {
        content: '';
        position: absolute;
        top: -.8rem;
        left: 0;
        height: 3px;
        width: 2.8rem;
        background-color: #fff; }
    .hacker-news .heading__right {
      display: flex;
      align-items: baseline; }
      @media only screen and (max-width: 700px) {
        .hacker-news .heading__right {
          display: none; } }
    .hacker-news .heading__header {
      font-size: 3rem;
      font-family: 'EB Garamond', serif;
      font-weight: 700; }
      @media only screen and (max-width: 700px) {
        .hacker-news .heading__header {
          display: none; } }
    .hacker-news .heading__mag-header {
      margin-right: 2rem;
      font-size: 1.2rem; }
    .hacker-news .heading__read-button {
      background-color: #ffb21a;
      color: #fff;
      height: 4rem;
      width: 12rem;
      font-size: 1.2rem; }
      .hacker-news .heading__read-button:hover {
        background-color: #faa600; }
  .hacker-news__container {
    padding-top: 8.5rem;
    height: 100%;
    background-color: #f9f8f6; }
    @media only screen and (max-width: 1200px) {
      .hacker-news__container {
        width: 100vw; } }
  .hacker-news__masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16rem auto 10rem;
    max-width: 126rem; }
    @media only screen and (max-width: 700px) {
      .hacker-news__masthead {
        display: none; } }
    .hacker-news__masthead--title {
      font-family: 'EB Garamond', serif;
      margin: 0 0 1rem;
      width: 19rem;
      text-align: center;
      font-size: 2.8rem;
      font-weight: 700; }
    .hacker-news__masthead--mag {
      font-size: 9rem;
      letter-spacing: -4px;
      line-height: 10rem; }
    .hacker-news__masthead--tagline {
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: 2px;
      opacity: .4;
      text-transform: uppercase;
      line-height: 2rem;
      margin: 3rem 0 0;
      z-index: 0; }
  .hacker-news__filters {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 126rem;
    font-size: 1.8rem; }
    @media only screen and (max-width: 700px) {
      .hacker-news__filters {
        display: none; } }
    .hacker-news__filters #filter-even {
      display: none; }
    .hacker-news__filters #filter-odd {
      display: none; }
    .hacker-news__filters #filter-even:checked + .hacker-news__filters--even-label {
      opacity: 1; }
    .hacker-news__filters #filter-odd:checked + .hacker-news__filters--odd-label {
      opacity: 1; }
    .hacker-news__filters--even-label {
      color: #272c2f;
      opacity: .4;
      cursor: pointer; }
      .hacker-news__filters--even-label:hover {
        text-decoration: underline; }
    .hacker-news__filters--middot {
      width: 2rem;
      text-align: center;
      color: #272c2f;
      opacity: .4; }
    .hacker-news__filters--odd-label {
      color: #272c2f;
      opacity: .4;
      cursor: pointer; }
      .hacker-news__filters--odd-label:hover {
        text-decoration: underline; }
  .hacker-news__hero-story {
    margin: 6rem auto;
    max-width: 126rem;
    position: relative; }
    .hacker-news__hero-story--link, .hacker-news__hero-story--link:active
    .hacker-news__hero-story--link:visited {
      position: relative;
      text-decoration: none;
      color: #272c2f; }
    .hacker-news__hero-story--blurb {
      width: 58rem;
      min-height: 37rem;
      position: absolute;
      bottom: 6rem;
      margin: 0;
      position: absolute;
      right: 0;
      background: rgba(255, 255, 255, 0.85);
      padding: 5rem 6rem 3.5rem; }
    .hacker-news__hero-story--blurb:hover .hacker-news__hero-story--title {
      text-decoration: underline; }
    .hacker-news__hero-story--image {
      object-fit: cover;
      width: 126rem;
      height: 71rem; }
      @media only screen and (max-width: 1200px) {
        .hacker-news__hero-story--image {
          width: 100vw; } }
    .hacker-news__hero-story--hacker-diaries {
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: 2px;
      opacity: .4;
      text-transform: uppercase;
      color: #272c2f; }
    .hacker-news__hero-story--title {
      font-size: 2.7rem;
      line-height: 4rem;
      font-weight: 700;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .hacker-news__hero-story--text {
      line-height: 30px;
      font-size: 1.8rem; }
  .hacker-news__post-list {
    list-style: none;
    margin: 6rem auto;
    max-width: 126rem; }
    @media only screen and (max-width: 1200px) {
      .hacker-news__post-list {
        width: 100vw;
        margin: 6rem 0; } }
    @media only screen and (max-width: 1100px) {
      .hacker-news__post-list {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .hacker-news__post:nth-child(odd) {
    margin-right: 2rem; }
  .hacker-news__post {
    height: 72rem;
    width: 61rem;
    display: inline-block; }
    @media only screen and (max-width: 1100px) {
      .hacker-news__post {
        margin-bottom: 4rem; } }
    .hacker-news__post--link, .hacker-news__post--link:active
    .hacker-news__post--link:visited {
      text-decoration: none;
      color: #272c2f; }
    .hacker-news__post--image-container {
      width: 61rem;
      height: 35rem; }
    .hacker-news__post--image {
      object-fit: cover;
      width: 61rem;
      height: 35rem; }
    .hacker-news__post--blurb {
      min-height: 36rem;
      width: 61rem;
      padding: 5rem 6rem 3.5rem;
      background-color: #fff; }
    .hacker-news__post--hacker-diaries {
      font-size: 1.4rem;
      font-weight: 100;
      letter-spacing: 2px;
      opacity: .4;
      text-transform: uppercase;
      color: #272c2f; }
    .hacker-news__post--title {
      font-size: 2.7rem;
      line-height: 4rem;
      font-weight: 700;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .hacker-news__post--text {
      line-height: 30px;
      font-size: 1.8rem; }
  .hacker-news__more-posts {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -40rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), white); }
    .hacker-news__more-posts--button {
      background-color: #ffb21a;
      color: #fff;
      height: 4rem;
      width: 12rem;
      font-size: 1.2rem;
      margin-bottom: 5rem; }
      .hacker-news__more-posts--button:hover {
        background-color: #faa600; }

/*# sourceMappingURL=output.css.map */
